/*
=====================
Shared CSS Properties
=====================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsl(0, 0%, 86%);
  height: 100vh;
}

input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid hsl(0, 1%, 44%);
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 2.5rem;
}
input[placeholder] {
  color: hsl(0, 1%, 44%);
}
/* input:invalid {
  border: 1px solid hsl(0, 100%, 67%);
} */
input:focus {
  border: 1px solid hsl(259, 100%, 65%);
}
.invalid-input,
.invalid-input:focus {
  border: 1px solid hsl(0, 100%, 67%);
}
.error-text,
.error-text-label {
  color: hsl(0, 100%, 67%);
}
.error-text {
  font-size: 0.9rem;
  font-weight: 400;
}
.hidden {
  display: none;
}
.error-text-label {
  color: hsl(0, 100%, 67%);
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
}
button:hover {
  cursor: pointer;
}
#background {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px 20px 100px 20px;
  margin: 50px 20px;
  height: 80%;
}

/*
========================
Input Section Properties
========================
*/

#date-input {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0 5px;
}
#day-form,
#month-form,
#year-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

/*
==========================
Section Divider Properties
==========================
*/

#decoration {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: 20px 0;
}
#decoration button {
  z-index: 2;
}
#button-image {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}
#button-image:hover {
  background-color: black;
}
#decoration img {
  color: grey;
  z-index: 1;
  width: 85%;
  height: 50px;
}
#decoration img,
#button-image {
  grid-area: 1 / 1 / 2 / 2;
}
del {
  width: 85%;
  height: 2px;
  align-self: center;
  justify-self: center;
}

/*
==========================
Returned Value Properties
==========================
*/

#result {
  display: flex;
  flex-direction: column;
}
#result div {
  padding-left: 40px;
  padding-top: 10px;
  display: inline-flex;
}
#result h2 {
  font-style: italic;
  font-weight: 800;
  font-size: 2.5rem;
  padding-left: 5px;
}
.returned-values {
  color: hsl(259, 100%, 65%);
}

@media (min-width: 576px) {
  #decoration {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    margin: 10px 0;
  }
  #decoration img {
    grid-area: 1 / 1 / 2 / 2;
  }
  #decoration button {
    grid-area: 1 / 2 / 2 / 3;
  }
}
